.inbox{
    width: 64%;
    height: 82vh;
    background-color: white;
    display: flex;
    margin: 30px auto;
    border: 1px solid #dad8d8;
    border-radius: 5px;
    display: flex;
    overflow: hidden;
}

.msg-sec{
    width: 36%;
    border-right: 1px solid #dad8d8;
    max-height: 100%;
    
}
.msg-list{
    padding-top: 10px;
    overflow-y: auto;
    max-height: 90%;
}
.msg-head{
    border-bottom: 1px solid #dad8d8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 20px;
    position: sticky;
    z-index: 12;
}
.msg-head>h5{
    margin: 0px;
}
.chat-sec{
    flex-grow: 1;
}
.no-chat{
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin: auto;
}
.no-chat>h4{
    font-weight: 300;
    font-size: 30px;
}
.no-chat>p{
    color: grey;
    font-size: 16px;
    font-weight: 400;
}

/*right section on convo*/
.convo-head{
    border-bottom: 1px solid #dad8d8;
    display: flex;
    align-items: center;
    padding: 9px 20px;
    position: sticky;
    z-index: 12;
}
.convo-head>h5{
    margin: 0px;
    margin-left: 13px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
.convo-head>img{
    width: 40px;
    height:40px;
    border-radius: 200%;
}
.arrow-bck{
    display: none !important;
}

.convo-main{
    height: 62vh;
    overflow-y: auto;
    padding-top: 40px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
   
}
.convo-main>div{
    margin-top: auto;
}

.send-msg>form{
    display: flex;
    position: sticky;
    z-index: 99;
    bottom: 1%;
    width: 94%;
    padding: 2px 15px;
    background-color: white;
    margin: 15px 10px 15px 20px;
    border-radius: 25px;
    flex-direction: row;
    border: 1px solid #dad8d8;
}
.send-msg>form>input{
    border-bottom: none !important;
    outline: none !important;
    margin-bottom: 0px !important;
}
.send-msg>form>input:focus{
    border-bottom: none !important;
    box-shadow: none !important;
}
.send-msg>form>button{
    text-decoration: none;
    border: none;
    background-color: white;
    cursor: pointer;
}


.box-mod>h5{
    margin: 0;
    text-align: center;
    font-size: 19px;
    border-bottom: 1px solid #dad8d8;
    padding: 10px;
    font-weight: 600;
}
.box-mod>div>div{
    display: flex;
    align-items: center;
    padding: 5px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}
.box-mod>div{
    max-height: 50vh;
    overflow-y: auto;
}
.box-mod>div>div:hover{
    background-color: #f0eeee;
}
.box-mod>div>p{
    margin:5px 12px;
    padding: 5px;
    font-weight: 600;
}


.box-mod>div>div>h5{
    margin: 0;
    font-size: 17px;
    font-weight: 600;
}
.box-mod>div>div>img{
    width: 38px;
    height: 38px;
    border-radius: 200%;
    margin-right: 15px;
}

@media (max-width:1200px) {
    .inbox{
        width: 80%;
    }
}
@media (max-width:800px) {
    .inbox{
        width: 95%;
    }
}

@media (max-width:600px) {
    .msg-sec{
        width: 100%;
    }
    .box-mod{
        width: 290px !important;
    }
    .arrow-bck{
        display: block;
    }
}

