.outgoing{
    display: flex;
    justify-content: flex-end;
}
.outgoing>div{
    border: 1px solid #e4e1e1;
    margin: 12px 20px;
    background-color: #efefef;
    padding: 7px 20px;
    border-radius: 30px;
}
.outgoing>div>p, .incoming>div>div>p{
    line-height: 1.5rem;
    font-size: 16px;
    max-width: 35rem;
    margin: 0px 0px 3px 0px;
}
/* .outgoing>div>div{
    display: flex;
    justify-content: flex-end;
} */
/* .outgoing>div>div>p{
    font-size: 10px;
    margin: 0px 0px 5px 0px;
} */

.incoming{
    display: flex;
    justify-content: flex-start;
}

.incoming>div{
    display: flex;
    align-items: center;
}
.incoming>div>div{
    border: 1px solid #e4e1e1;
    margin: 12px 10px;
    padding: 7px 20px;
    border-radius: 30px;
}
.incoming>div>img{
    width: 40px;
    height: 40px;
    border-radius: 200%;
    margin-left: 20px;
}